body {
    text-align: center;
    background: rgb(245, 138, 24);
    background: linear-gradient(90deg, rgba(245, 138, 24, 1) 0%, rgba(120, 231, 39, 1) 35%);
}
}

img {
    width: 250px;
    height: 250px;
}

#myCarousel1 {
    background-color: #b5d0d4;
}

#myCarousel1 img {
    height: 300px;
    margin-top: 35px;
}
